<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body id="body">
    

    <div class="main-container2">
        <div class="product-card-container">
            <!-- Bengali Category -->
            <div class="category-card">
                <a href="/bechdo/category/bengali">
                    <img src="/photos/img6.png" alt="Bengali Category" class="img">
                    <h2>Bengali</h2>
                </a>
            </div>

            <!-- English Category -->
            <div class="category-card">
                <a href="/bechdo/category/english">
                    <img src="/photos/img9.png" alt="English Category" class="img">
                    <h2>English</h2>
                </a>
            </div>

            <!-- More Category -->
            <div class="category-card">
                <a href="/bechdo/category/more">
                    <img src="/photos/img8.png" alt="More Category" class="img">
                    <h2>More</h2>
                </a>
            </div>
        </div>
    </div>
</body>
</html>
